* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(66, 63, 63);
  color: white;
}

header h1 {
  text-align: center;
  margin: 20px;
  font-size: 5em;
  color: chartreuse;
}

.booksContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.books {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  padding: 20px 30px;
  gap: 30px;
}
.image {
  height: 200px;
  width: 150px;
}
.booksFooter {
  display: flex;
  font-size: 0.9em;
  /* gap: 30px; */
  justify-content: space-between;
  width: 100%;
}
#view {
  display: flex;
  justify-content: end;
  margin: 20px 50px;
}
#gridView {
  width: 50px;
}
#gridView:hover {
  cursor: pointer;
}
#listView:hover {
  cursor: pointer;
}
h2 {
  text-align: center;
}
.booksContainer.active {
  flex-direction: column;
  align-content: center;
}
.booksContainer.active h2 {
  width: 50%;
  font-size: larger;
  text-align: start;
}
.booksContainer.active .books {
  gap: 50px;
  flex-direction: row;
  /* flex-wrap: wrap; */
  width: 75%;
  justify-content: unset;
  padding: 10px 15px;
}
.booksContainer.active .books .booksFooter {
  width: 30%;
}
.booksContainer.active .books .image {
  height: 100px;
  width: 75px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 50px;
}
.page {
  display: flex;
 justify-content:  center;
  color: black;
  background-color: white;
  padding: 20px 30px;
  border-radius: 10px;
  
}
