*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: gray;
    color: white;
}

header h1{
    text-align: center;
    margin: 20px;
}

.booksContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    
}
.books{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    padding: 20px 30px;
    gap: 20px;
}
.image{
    height:200px;
    width:150px;
}
.booksFooter{
    display: flex;
    font-size: 0.9em;
    gap: 30px;
    width: 100%;
}
#view{
    display: flex;
    justify-content: end;
    margin:20px 50px;
}
#gridView{
    width: 50px;
}
#gridView:hover{
    cursor: pointer;
}
#listView:hover{
    cursor: pointer;
}